<%= bootstrap_form_with model: @user do |f| %>
  <%= f.email_field :email %>
  <%= f.password_field :password %>
  <%= f.check_box :remember_me %>
  <%= f.submit "Log In" %>
<% end %>


<h3>Horizontal Form</h3>

<%= bootstrap_form_with model: @user, url: "/", bootstrap: {layout: :horizontal} do |form| %>
  <%= form.email_field :email, placeholder: "Enter Email", bootstrap: {label: {text: "Email address"}, help: "We'll never share your email with anyone else"} %>
  <%= form.email_field :email, bootstrap: {prepend: "Prepend", append: "Append"} %>
  <%= form.check_box :terms, bootstrap: {help: "You better check this"} %>
  <%= form.radio_buttons :test, ["1", "2", "3"], bootstrap: {help: "help text"} %>
  <%= form.text_field :test, bootstrap: {label: {hide: true}} %>
  <%= form.check_boxes :test, ["11", "22", "33"], bootstrap: {help: "help text", inline: true, label: {hide: true}} %>
  <%= form.primary "Smash That Button" do %>
    <a href="/" class="btn btn-link">Unsubcribe</a>
  <% end %>
<% end %>

<h3>Inline Form</h3>

<%= bootstrap_form_with model: @user, url: "/", bootstrap: {layout: :inline} do |form| %>
  <%= form.email_field :email, placeholder: "Enter Email" %>
  <%= form.password_field :password, placeholder: "Password", bootstrap: {label: {hide: true}, prepend: "???", append: "???"} %>
  <%= form.check_box :terms %>
  <%= form.primary "Submit" do %>
    <a href="/" class="btn btn-link">Cancel</a>
  <% end %>
<% end %>

<h3>Simple Form</h3>

<%= bootstrap_form_with model: @user, url: "/" do |form| %>
  <%= form.email_field :email, placeholder: "Enter Email", bootstrap: {label: {text: "Email address"}, help: "We'll never share your email with anyone else"} %>
  <%= form.password_field :password, placeholder: "Password"%>
  <%= form.select :select_value, ["option A", "option B"] %>
  <%= form.text_area :test, bootstrap: {label: {text: "Text Area"}} %>
  <%= form.file_field :test, bootstrap: {label: {text: "File Field"}} %>
  <%= form.plaintext :test, bootstrap: {label: {text: "Plain Text"}} %>
  <%= form.check_box :terms, bootstrap: {label: {text: "Agree to Terms"}} %>
  <%= form.submit %>
<% end %>

<h3>Checkboxes and Radio buttons</h3>

<% @user.test = "c" %>
<%= bootstrap_form_with model: @user, url: "/" do |form| %>
  <%= form.radio_buttons :test, [["a", "Label A"], ["b", "Label B"], "c", "d"] %>
  <%= form.check_boxes :test, [["e", "Label E"], ["f", "Label F"], "g", "h"], bootstrap: {help: "help text"} %>
  <%= form.radio_buttons :test, ["u", "v", "w"], bootstrap: {inline: true, label: {text: "Custom Label"}} %>
  <%= form.check_boxes :test, ["x", "y", "z"], bootstrap: {inline: true, help: "help text", label: {hide: true}} %>
<% end %>

<h3>Input Group</h3>

<%= bootstrap_form_with model: @user, url: "/" do |form| %>
  <%= form.email_field :email, placeholder: "Enter Email", bootstrap: {prepend: "Prepend", append: "Append"} %>
  <% prepend_button = capture do %>
    <button class="btn btn-success">Go</button>
  <% end %>
  <% append_button = capture do %>
    <button class="btn btn-danger">Stop</button>
  <% end %>
  <%= form.email_field :email, placeholder: "Enter Email", bootstrap: {label: {hide: true}, prepend: {html: prepend_button}, append: {html: append_button}} %>
<% end %>

<h3>Horizontal Form With Errors</h3>

<%= bootstrap_form_with model: @user_with_error, url: "/", bootstrap: {layout: :horizontal} do |form| %>
  <%= form.email_field :email, placeholder: "Enter Email", bootstrap: {label: {text: "Email address"}, help: "We'll never share your email with anyone else"} %>
  <%= form.email_field :email, placeholder: "Enter Email", bootstrap: {help: "Help me!", prepend: "Prepend", append: "Append"} %>
  <%= form.check_box :terms, bootstrap: {help: "help text"}%>
  <%= form.radio_buttons :test, ["a", "b", "c"], bootstrap: {help: "help text"} %>
  <%= form.check_boxes :test, ["x", "y", "z"], bootstrap: {inline: true, help: "help text"} %>
  <%= form.submit %>
<% end %>
