<h3>Simple Form</h3>

<%= form_with_source do %>
  <%= bootstrap_form_with model: @user, url: "/" do |form| %>
    <%= form.email_field :email, placeholder: "Enter Email", bootstrap: {label: {text: "Email address"}, help: "We'll never share your email with anyone else"} %>
    <%= form.password_field :password, placeholder: "Password" %>
    <%= form.select :select_value, ["option A", "option B"] %>
    <%= form.plaintext :comments %>
    <%= form.check_box :terms, label: "Agree to Terms" %>
    <%= form.submit %>
  <% end %>
<% end %>

<h3>Input Group</h3>

<%= form_with_source do %>
  <%= bootstrap_form_with model: @user, url: "/" do |form| %>
    <%= form.email_field :email, placeholder: "Enter Email", bootstrap: {control: {prepend: "Prepend", append: "Append"}} %>
  <% end %>
<% end %>

<h3>Form With Errors</h3>

<%= form_with_source do %>
  <%= bootstrap_form_with model: @user_with_error, url: "/" do |form| %>
    <%= form.email_field :email, placeholder: "Enter Email", bootstrap: {label: {text: "Email address"}, help: "We'll never share your email with anyone else"} %>
    <%= form.submit %>
  <% end %>
<% end %>
